<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="lg:w-full lg:flex lg:border-b lg:border-blue-500 bg-blue-400 text-gray-100 justify-between items-center">
            <p class="text-5xl lg:px-32">FileUploader</p>
            <ul class="lg:flex lg:px-32 lg:w-1/3 lg:justify-evenly">
                <a class="border-blue-500 border rounded-lg px-2 py-1" href="/">Home</a>
                <a class="border-blue-500 border rounded-lg px-2 py-1" href="/log-in">Log in</a>
                <a class="border-blue-500 border rounded-lg px-2 py-1" href="/sign-up">Sign up</a>
            </ul>
        </nav>
    </header>
    <main>
        <section class="lg:mt-32">
            <h1 class="lg:mx-auto lg:w-fit lg:text-5xl">Welcome to FileUploader</h1>
           
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>