<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="lg:w-full lg:flex lg:border-b lg:border-blue-500 bg-blue-400 text-gray-100 justify-between items-center">
            <p class="text-5xl lg:px-32">fileDrive</p>
            <ul class="lg:flex lg:px-32 lg:w-2/4">
                <li class="border-blue-500 border rounded-lg px-2 py-1">Log in</li>
                <li class="border-blue-500 border rounded-lg px-2 py-1">Sign up</li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>

        </aside>
    </main>
</body>
</html>